In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Boffa,GN,2022-06-17 23:38:16,10.1667,-14.0333,76.50,91,100,6.78
1,1,Rikitea,PF,2022-06-17 23:38:16,-23.1203,-134.9692,73.04,65,42,5.14
2,2,Chapais,CA,2022-06-17 23:38:17,49.7834,-74.8492,44.38,96,100,9.57
3,3,Kambove,CD,2022-06-17 23:38:17,-10.8764,26.5969,55.22,50,34,3.91
4,4,Georgetown,MY,2022-06-17 23:38:18,5.4112,100.3354,78.73,97,20,2.30

In [3]:
# Get the data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Boffa,GN,2022-06-17 23:38:16,10.1667,-14.0333,76.50,91,100,6.78
4,4,Georgetown,MY,2022-06-17 23:38:18,5.4112,100.3354,78.73,97,20,2.30
9,9,Bhatkal,IN,2022-06-17 23:38:19,13.9667,74.5667,79.50,82,93,5.57
13,13,Butaritari,KI,2022-06-17 23:38:21,3.0707,172.7902,82.17,77,11,14.56
14,14,Kavieng,PG,2022-06-17 23:38:21,-2.5744,150.7967,84.22,65,32,13.11
16,16,Vaini,TO,2022-06-17 23:38:22,-21.2000,-175.2000,80.76,89,75,12.66
17,17,Kapaa,US,2022-06-17 23:38:22,22.0752,-159.3190,81.12,76,40,12.66
30,30,Yuci,CN,2022-06-17 23:38:27,37.6803,112.7319,76.75,57,100,4.47
34,34,Hue,VN,2022-06-17 23:38:28,16.4667,107.6000,82.51,78,20,3.44
35,35,Pandan,PH,2022-06-17 23:38:28,14.0453,124.1694,84.99,77,49,9.69

In [16]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0        Boffa      GN     76.50  10.1667  -14.0333
4   Georgetown      MY     78.73   5.4112  100.3354
9      Bhatkal      IN     79.50  13.9667   74.5667
13  Butaritari      KI     82.17   3.0707  172.7902
14     Kavieng      PG     84.22  -2.5744  150.7967
16       Vaini      TO     80.76 -21.2000 -175.2000
17       Kapaa      US     81.12  22.0752 -159.3190
30        Yuci      CN     76.75  37.6803  112.7319
34         Hue      VN     82.51  16.4667  107.6000
35      Pandan      PH     84.99  14.0453  124.1694

In [19]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Boffa,GN,76.50,10.1667,-14.0333,Hôtel Niara Belly
4,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
9,Bhatkal,IN,79.50,13.9667,74.5667,Nilawar Palace
13,Butaritari,KI,82.17,3.0707,172.7902,Isles Sunset Lodge
14,Kavieng,PG,84.22,-2.5744,150.7967,Nusa Island Retreat
16,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
17,Kapaa,US,81.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
30,Yuci,CN,76.75,37.6803,112.7319,Thank Inn Plus Hotel Shanxi Jinzhong Yuci Dist...
34,Hue,VN,82.51,16.4667,107.6000,Saigon Morin Hotel
35,Pandan,PH,84.99,14.0453,124.1694,Bonifacio Lodge

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""
# Store the dataframe row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap layer.

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))